<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airpods</title>
</head>
<body>
    <div style="border: 1px solid; height: 50px; display: flex; ">
        <div style = "background-color:black">
            <a href="home.html"><img src="./img/applelogo.jpeg" alt="logoofcompany" width="45px" height="45px"></a>
        </div>
    
        <!-- nav bar -->
        <div style="flex: 4; background-color: black;">
            <ul type="none" style="display: flex; font-size: larger; color: white;">
                <li style="flex: 1;">
                    <a href="mac.html" style="text-decoration: none; color:white;">Mac</a>
                </li>
                <li style="flex: 1;">
                    <a href="ipad.html" style="text-decoration: none; color:white;">iPad</a>
                </li>
                <li style="flex: 1;">
                    <a href="iphone.html" style="text-decoration: none; color:white;">iPhone</a>
                </li>
                <li style="flex: 1;">
                    <a href="watch.html" style="text-decoration: none; color:white;">Watch</a>
                </li>
                <li style="flex: 1;">
                    <a href="airpods.html" style="text-decoration: none; color:white;">Airpods</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div style="display: flex; height: 375px;">
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/product/MV7N2HN/A/airpods-with-charging-case" style="text-decoration: none;">
                <img src="./img/airpods2gen.png" width="40%" alt="iphone" style="margin-left:150px; margin-top:22px">
                <h2 style="text-align: center; color:black">AirPods</h2>
                <p style="text-align: center; color:black">2nd generation</p>
            </a>
        </div>
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/product/MPNY3HN/A/airpods-3rd-generation-with-lightning-charging-case" style="text-decoration: none;">
                <img src="./img/airpods3gen.png" width="40%" alt="iphone" style="margin-left:150px; margin-top:75px">
                <h2 style="text-align: center; color:black">AirPods</h2>
                <p style="text-align: center; color:black">3rd generation</p>
            </a>
        </div>
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/product/MQD83HN/A/airpods-pro" style="text-decoration: none;">
                <img src="./img/airpodspro.png" width="40%" alt="iphone" style="margin-left:150px; margin-top:90px">
                <h2 style="text-align: center; color:black">AirPods Pro</h2>
            </a>
        </div>
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/buy-airpods/airpods-max" style="text-decoration: none;">
                <img src="./img/airpodsmax.png" width="40%" alt="iphone" style="margin-left:150px; margin-top:50px">
                <h2 style="text-align: center; color:black">AirPods Max</h2>
            </a>
        </div>
    </div>
</body>
</html>