<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <!-- header part -->
    <div style="border: 1px solid; height: 50px; display: flex; ">
        <div style = "background-color:black">
            <a href="home.html"><img src="./img/applelogo.jpeg" alt="logoofcompany" width="45px" height="45px"></a>
        </div>

        <!-- nav bar -->
        <div style="flex: 4; background-color: black;">
            <ul type="none" style="display: flex; font-size: larger; color: white;">
                <li style="flex: 1;">
                    <a href="mac.html" style="text-decoration: none; color:white;">Mac</a>
                </li>
                <li style="flex: 1;">
                    <a href="ipad.html" style="text-decoration: none; color:white;">iPad</a>
                </li>
                <li style="flex: 1;">
                    <a href="iphone.html" style="text-decoration: none; color:white;">iPhone</a>
                </li>
                <li style="flex: 1;">
                    <a href="watch.html" style="text-decoration: none; color:white;">Watch</a>
                </li>
                <li style="flex: 1;">
                    <a href="airpods.html" style="text-decoration: none; color:white;">Airpods</a>
                </li>
            </ul>
        </div>
    </div>

    <div style="border: 1px solid; height: 650px; ">
    
        <img src="./img/applebanner.jpeg" alt="banner" width="100%" height="650px">
    </div>

    <!-- we are using display felx -->
    <div style="display: flex; height: 375px;">
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/buy-iphone/iphone-12" style="text-decoration: none;">
                <img src="./img/iphone12.png" width="80%" alt="iphone" style="margin-left:50px; margin-top:22px">
                <h2 style="text-align: center; color:black">Iphone 12</h2>
            </a>
        </div>
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/buy-iphone/iphone-13" style="text-decoration: none;">
                <img src="./img/iphone13.png" width="60%" alt="iphone" style="margin-left:100px; margin-top:22px">
                <h2 style="text-align: center; color:black">Iphone 13</h2>
            </a>
        </div>
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/buy-iphone/iphone-14" style="text-decoration: none;">
                <img src="./img/iphone14.png" width="60%" alt="iphone" style="margin-left:100px; margin-top:20px">
                <h2 style="text-align: center; color:black">Iphone 14</h2>
            </a>
        </div>
    </div>
    <div style= "height: 80px; background-color: black;">
        <p style="text-align: center; font-size: x-large; color: white;">&copy iphone 2022</p>
    </div>
</body>

</html>