<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>

<body>
    <!-- header part -->
    <div style="border: 1px solid; height: 50px; display: flex; ">
        <div style ="flex:1 ; background-color:black">
            <img src="applelogo.jpeg" alt="logoofcompany" width="45px" height="45px">
        </div>

        <!-- nav bar -->
        <div style="flex: 4; background-color: black;">
            <ul type="none" style="display: flex; font-size: larger; color: white;">
                <li style="flex: 1;">iPad</li>
                <li style="flex: 1;">iPhone</li>
                <li style="flex: 1;">Mac</li>
                <li style="flex: 1;">Watch</li>
            </ul>
        </div>
    </div>

    <div style="border: 1px solid; height: 650px; ">
    
        <img src="applebanner.jpeg" alt="banner" width="100%" height="650px">
    </div>

    <!-- we are using display felx -->
    <div style="display: flex; height: 375px;">
        <div style="flex: 1;">
            <img src="iphone11.png" width="60%" alt="iphone" style="margin-left:100px; margin-top:20px">
            <h2 style="text-align: center;">Iphone 11</h2>
        </div>
        <div style="flex: 1;">
            <img src="iphone12.png" width="80%" alt="iphone" style="margin-left:50px; margin-top:22px">
            <h2 style="text-align: center;">Iphone 12</h2>
        </div>
        <div style="flex: 1;">
            <img src="iphone13.png" width="60%" alt="iphone" style="margin-left:100px; margin-top:20px">
            <h2 style="text-align: center;">Iphone 13</h2>
        </div>
    </div>
    <div style= "height: 80px; background-color: black;">
        <p style="text-align: center; font-size: x-large; color: white;">&copy iphone 2022</p>
    </div>
</body>

</html>