<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch</title>
</head>
<body>
    <div style="border: 1px solid; height: 50px; display: flex; ">
        <div style = "background-color:black">
            <a href="home.html"><img src="./img/applelogo.jpeg" alt="logoofcompany" width="45px" height="45px"></a>
        </div>
    
        <!-- nav bar -->
        <div style="flex: 4; background-color: black;">
            <ul type="none" style="display: flex; font-size: larger; color: white;">
                <li style="flex: 1;">
                    <a href="mac.html" style="text-decoration: none; color:white;">Mac</a>
                </li>
                <li style="flex: 1;">
                    <a href="ipad.html" style="text-decoration: none; color:white;">iPad</a>
                </li>
                <li style="flex: 1;">
                    <a href="iphone.html" style="text-decoration: none; color:white;">iPhone</a>
                </li>
                <li style="flex: 1;">
                    <a href="watch.html" style="text-decoration: none; color:white;">Watch</a>
                </li>
                <li style="flex: 1;">
                    <a href="airpods.html" style="text-decoration: none; color:white;">Airpods</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div style="display: flex; height: 375px;">
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/buy-watch/apple-watch" style="text-decoration: none;">
                <img src="./img/watch8.jpg" width="40%" alt="iphone" style="margin-left:150px; margin-top:30px">
                <h2 style="text-align: center; color:black">Apple Watch Series 8</h2>
            </a>
        </div>
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/buy-watch/apple-watch-se" style="text-decoration: none;">
                <img src="./img/watchse.jpg" width="40%" alt="iphone" style="margin-left:150px; margin-top:25px">
                <h2 style="text-align: center; color:black">Apple Watch SE</h2>
            </a>
        </div>
        <div style="flex: 1;">
            <a href="https://www.apple.com/in/shop/buy-watch/apple-watch-ultra" style="text-decoration: none;">
                <img src="./img/watchultra.jpg" width="40%" alt="iphone" style="margin-left:150px; margin-top:20px">
                <h2 style="text-align: center; color:black">Apple Watch Ultra</h2>
            </a>
        </div>
    </div>
</body>
</html>